// Spacers
.sp-t-5   { margin-top: rem-calc(5px);}
.sp-t-10  { margin-top: rem-calc(10px);}
.sp-t-15  { margin-top: rem-calc(15px);}
.sp-t-20  { margin-top: rem-calc(20px);}
.sp-t-30  { margin-top: rem-calc(30px);}
.sp-t-40  { margin-top: rem-calc(40px);}
.sp-t-50  { margin-top: rem-calc(50px);}
.sp-t-60  { margin-top: rem-calc(60px);}
.sp-t-70  { margin-top: rem-calc(70px);}
.sp-t-80  { margin-top: rem-calc(80px);}
.sp-t-90  { margin-top: rem-calc(90px);}
.sp-t-100 { margin-top: rem-calc(100px);}
.sp-t-130 { margin-top: rem-calc(130px);}
.sp-t-200 { margin-top: rem-calc(200px);}

// Reset

// Text Controls
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}
.break-word {
  word-wrap: break-word;
}
.no-wrap {
  white-space: nowrap !important;
}

