.header-headline {
  font-size: rem-calc(21px);
  font-weight: 300;
  text-align: center;
}

.section {
  width: 100%;

  &.divider {
    border-top: 1px solid #eee;
  }
  &.program .container-content { padding-bottom: 200px}
  &.lecturers .container-content { padding-bottom: 65px}
}
.section-header {
  padding-top: rem-calc(70px);
  padding-bottom: rem-calc(20px);
  background: #010206 url("../images/bg-header_wrapper.jpg") no-repeat center center fixed;
  background-size:cover;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;

  .header-headline {
    margin-bottom: 140px;

    @include breakpoint(medium only) {
      margin-bottom: 80px;
    }
    @include breakpoint(small only) {
      margin-bottom: 45px;
    }
  }
  .menu > li > a {
    padding: 0.7rem .5rem;
    font-size: 1.3rem;
    color: #fff;
    &:hover {
      color: #faac1b;
    }
  }
  .annotation {
    margin-top: rem-calc(40px);
    margin-bottom: rem-calc(65px);
    .columns {
      padding: 0;
    }
    .hr {
      position: relative;
      display: inline-block;
      width: 100%;
      border: 0;

      &::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        border-top: 1px solid #FFF;
        bottom: 5px;
      }
    }
    .info {
      margin-bottom: 0;
      text-align: center;
      font-weight: 600;
      font-size: rem-calc(15px);
    }
  }
}
.section-call-speakers {
  background: #151515 url("../images/bg-call_for_speakers.jpg") no-repeat center center fixed;
  background-size:cover;
  color: #fff;
  @include breakpoint(small only) {
    padding: rem-calc(20px);
  }
  .title {
    font-weight: 300;
    padding-top: rem-calc(140px);
    @include breakpoint(small only) {
      padding-top: rem-calc(60px);
    }
  }
  .button-to-black {
    font-size: rem-calc(24px);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background-color: #fecb58;
    border: 2px solid #fecb58;
    &:active, &:hover {
      color: #fff;
      background-color: #0a0a0a;
      border: 2px solid white;
    }
    margin-top: rem-calc(50px);
    margin-bottom: rem-calc(110px);
  }
  .info {
    margin-bottom: rem-calc(190px);

    @include breakpoint(small only) {
      margin-bottom: rem-calc(80px);
    }
  }
}
.section-gray-bg {
  height: rem-calc(620px);
  background: #151515 url("../images/gray-bg-big.png") repeat top;

  .secondary {
    height: rem-calc(630px);
  }

  @include breakpoint(medium only) {
    height: auto;
  }
  @include breakpoint(small only) {
    height: auto;
  }
}

.container-content {
  padding-top: rem-calc(130px);
  padding-bottom: rem-calc(110px);

  @include breakpoint(small only) {
    padding: rem-calc(30px 10px);
  }
}
.container-map {
  position: relative;
  height: rem-calc(700px);

  @include breakpoint(medium only) {
    height: rem-calc(500px);
  }
  @include breakpoint(small only) {
    height: auto;
  }
}

.container-annotation {
  position: relative;

  @include breakpoint(medium only) {
    padding: rem-calc(20px) 0;
  }
  @include breakpoint(small only) {
    padding: rem-calc(20px) 0;
  }

  .box {
    position: absolute;
    background-color: #fff;
    border: 1px solid #efefef;
    box-shadow: 2px 2px 2px 0 rgba(35, 31, 32, 0.35);
  }
  .box-info {
    width: rem-calc(580px);
    z-index: 10;
    padding: rem-calc(50px) rem-calc(70px) rem-calc(40px) rem-calc(70px);

    @include breakpoint(large only) {
      width: rem-calc(520px);
    }
  }
  .box-video {
    position: absolute;
    z-index: 20;
    width: rem-calc(580px);
    padding: rem-calc(10px);
    background-color: #fff;
    box-shadow: 2px 2px 2px 0 rgba(35, 31, 32, 0.35);
    .video-wrapper {
      position: relative;
      height: 0;
      padding: rem-calc(10px 10px 300px 10px);

      @include breakpoint(large only) {
        padding: rem-calc(10px 10px 246px 10px);
      }
      @include breakpoint(medium only) {
        padding: rem-calc(10px 10px 380px 10px);
      }
      @include breakpoint(small only) {
        padding: rem-calc(10px 10px 170px 10px);
      }
    }

    @include breakpoint(large only) {
      width: rem-calc(480px);
    }

  }
  .box-info.left {
    left: rem-calc(30px);
    top: rem-calc(110px);
    @include breakpoint(large only) {
      padding: rem-calc(40px) rem-calc(50px) rem-calc(30px) rem-calc(50px);
    }
  }
  .box-video.right {
    left: rem-calc(560px);
    top: rem-calc(60px);
    @include breakpoint(large only) {
      left: rem-calc(500px);
    }
  }
  .box-info.right {
    right: rem-calc(30px);
    top: rem-calc(110px);
    @include breakpoint(large only) {
      width: rem-calc(500px);
      padding: rem-calc(40px) rem-calc(50px) rem-calc(30px) rem-calc(50px);
    }
  }
  .box-video.left {
    right: rem-calc(560px);
    top: rem-calc(60px);
    @include breakpoint(large only) {
      right: rem-calc(500px);
    }
  }
  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .box-info {
    &.left, &.right {
      @include breakpoint(medium only) {
        position: static;
        width: 90%;
        margin: auto;
        padding: rem-calc(30px) rem-calc(40px) rem-calc(20px) rem-calc(40px);
        border: none;
        box-shadow: none;
      }
      @include breakpoint(small only) {
        position: static;
        width: 90%;
        margin: auto;
        padding: rem-calc(20px) rem-calc(40px) rem-calc(10px) rem-calc(40px);
        border: none;
        box-shadow: none;
      }
    }
  }
  .box-video {
    &.left, &.right {
      @include breakpoint(medium only) {
        position: static;
        width: 90%;
        margin: auto;
        left: auto;
        right: auto;
        box-shadow: none;
        border: none;
      }
      @include breakpoint(small only) {
        position: static;
        width: 90%;
        margin: auto;
        left: auto;
        right: auto;
        box-shadow: none;
        border: none;
      }
    }
  }
}

//MAP
#map {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: rem-calc(700px);

  @include breakpoint(small only) {
    position: relative;
  }

  @include breakpoint(medium only) {
    height: rem-calc(500px);
  }
  @include breakpoint(small only) {
    height: rem-calc(400px);
  }
}
.map-placeholder {
  position: relative;
  padding: rem-calc(15px 25px);
  z-index: 2;
  width: rem-calc(330px);
  height: rem-calc(250px);
  background-color: #fff;

  @include breakpoint(medium only) {
    height: rem-calc(180px);
    padding: rem-calc(10px 20px);
  }

  .headline {
    margin-bottom: rem-calc(30px);

    @include breakpoint(medium only) {
      margin-bottom: rem-calc(10px);
    }
  }
  ul > li {
    margin-bottom: rem-calc(24px);

    @include breakpoint(medium only) {
      margin-bottom: rem-calc(10px);
    }
  }
  .icon {
    padding-right: 8px;
  }
  .icon::before {
    font-size: rem-calc(18px);
    color: #f0aa1f;
  }
}
.placeholder-wrapper {
  padding-top: rem-calc(200px);

  @include breakpoint(medium only) {
    padding-top: rem-calc(20px);
  }
  @include breakpoint(small only) {
    padding-top: rem-calc(0);
  }
}


.info-slots {
  position: relative;

  .text-box {
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: rem-calc(18px);
    color: #4a4a4a;
    @include breakpoint(medium only) {
      font-size: rem-calc(17px);
    }
    @include breakpoint(small only) {
      font-size: rem-calc(15px);
    }
  }
  .icon-box {
    text-align: right;
  }
  .icon-box > i::before {
    color: #faac1b;
    font-size: rem-calc(36px);
    @include breakpoint(medium only) {
      font-size: rem-calc(30px);
    }
  }
}
div.info-slots + div.info-slots::after {
  content: "";
  position: absolute;
  display: block;
  height: 40px;
  border-left: 1px solid #e4e3e2;
  top: 5px;
  left: -5px;
}

.wrapper-sponsors {
  margin-top: rem-calc(40px);

  .column {
    margin-bottom: 2rem;
  }
}
.sponsors-headline {
  margin-top: rem-calc(100px);
}


.logo-header {
  margin-top: rem-calc(75px);
  margin-bottom: rem-calc(34px);
  text-align: center;
}

.info-box {
  padding-top: rem-calc(90px);
  padding-bottom: rem-calc(80px);

  @include breakpoint(small only) {
    padding-top: rem-calc(50px);
    padding-bottom: rem-calc(50px);
  }
}


//Footer
.footer {
  height: rem-calc(170px);
  padding-top: rem-calc(70px);
  color: #fff;
  background-color: #080705;

  p { margin-bottom: 0; }

  .middle-logo-container {
    @include breakpoint(medium only) {
      padding-top: 20px;
    }
    @include breakpoint(small only) {
      padding-top: 20px;
    }
  }

  .logo-footer {
    padding-left: 4px;
    &.hb {
      width: rem-calc(165px);

      @include breakpoint(small only) {
        margin: auto;
        display: block;
      }
    }
    &.hs {
      display: inline-block;
      vertical-align: baseline;
      width: rem-calc(96px);

      @include breakpoint(small only) {
        margin: auto;
        display: block;
      }
    }
  }

  @include breakpoint(medium only) {
    height: rem-calc(190px);
    padding-top: rem-calc(50px);
  }
  @include breakpoint(small only) {
    padding-top: rem-calc(30px);
  }
}

.pdf-download{
  vertical-align: middle;
  &::before {
    font-size: rem-calc(32px);
  }
}


//MENU
.top-bar {position: relative}
.is-stuck.top-bar {
  background-color: rgba(0,0,0,0.65);
  z-index: 5000;
}

.top-bar .menu-main {
  text-align: center;

  > li {
    display: inline-block;

    @include breakpoint(medium only) {
      display: block;
      width: 100%;
      margin: rem-calc(30px) 0;
    }
    @include breakpoint(small only) {
      display: block;
      width: 100%;
      margin: rem-calc(30px) 0;
    }
  }
  > li > a {
    padding: rem-calc(2px) rem-calc(30px);
    font-size: rem-calc(16px);
    color: #fecb58;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;

    @include breakpoint(large only) {
      padding: rem-calc(2px) rem-calc(20px);
    }
    @include breakpoint(medium only) {
      padding: rem-calc(2px) rem-calc(15px);
    }

    &:hover {
      color: #adacac;
    }
  }
}



.title-bar {
  position: relative;
  float: right;
  z-index: 1000;
  width: 50px;
  height: 40px;
  padding-top: 4px;
  background: rgba(0,0,0,0.6);
  text-align: center;
  border: 1px solid #fff;
  border-radius: rem-calc(2px);

  .menu-button {
    outline: none;
  }

  @include breakpoint(large) {
    display: none;
  }
}

.sticky.top-bar {

  @include breakpoint(medium only) {
    position: fixed;
    z-index: 10000;
    top: 0;
    padding-top: rem-calc(60px);
    background-color: rgba(0,0,0,0.65);
  }
  @include breakpoint(small only) {
    position: fixed;
    z-index: 10000;
    top: 0;
    padding-top: rem-calc(60px);
    background-color: rgba(0,0,0,0.65);
  }
}

.sticky-button {

  @include breakpoint(medium only) {
    position: fixed;
    z-index: 10001;
    top: rem-calc(10px);
    right: rem-calc(10px);
  }
  @include breakpoint(small only) {
    position: fixed;
    z-index: 10001;
    top: rem-calc(10px);
    right: rem-calc(10px);
  }
}

.go-top {
  position: fixed;
  right: 30px;
  bottom: 80px;
  z-index: 9000;
  width: 40px;
  height: 40px;
  text-align: center;
  background: #000;
  color: #c3c3c3;
  font-size: rem-calc(24px);
  line-height: rem-calc(40px);
  opacity: 0.55;
  transition: all 0.5s ease;
  cursor: pointer;
  &:hover {
    background-color: #fecb58;
    color: #fff;
    opacity: 1;
  }
}


.program {
  margin-top: rem-calc(75px);

  &> .columns {
    @include breakpoint(small only) {
      padding-bottom: rem-calc(22px);
    }
  }
}

.table-program {

  .table-header {
    padding: rem-calc(2px) rem-calc(14px);
    .heading {
      font-size: rem-calc(26px);
      font-weight: 300;
      text-transform: uppercase;
    }
    .date {
      display: block;
      text-align: right;
      color: #fff;
    }
  }
  .table-row {
    padding: rem-calc(12px) rem-calc(12px) rem-calc(30px) rem-calc(12px) ;
    .event {
      display: block;
      font-size: rem-calc(18px);
      font-weight: 300;
      margin-bottom: rem-calc(5px);
    }
    .name {
      font-size: rem-calc(14px);
      font-weight: 500;
    }
    .time {
      display: block;
      text-align: right;
      font-size: rem-calc(18px);
      font-weight: 300;
    }
  }
  &.yellow {
    .table-header {
      background-color: #fecc58;
    }
    .table-row {
      border-right: 1px solid #fecc58;
      border-bottom: 1px solid #fecc58;
      border-left: 1px solid #fecc58;
    }
  }
  &.orange {
    .table-header {
      background-color: #fe934a;
    }
    .table-row {
      border-right: 1px solid #fe934a;
      border-bottom: 1px solid #fe934a;
      border-left: 1px solid #fe934a;
    }
  }
  &.green {
    .table-header {
      background-color: #24e788;
    }
    .table-row {
      border-right: 1px solid #24e788;
      border-bottom: 1px solid #24e788;
      border-left: 1px solid #24e788;
    }
  }
}

.lecturers-wrapper {
  margin-top: rem-calc(70px);

  .spacer {
    margin-bottom: 1.875rem;
  }
}

.lecturer {
  background-color: #fecc58;

  .text-container {
    position: relative;
    padding: rem-calc(12px) rem-calc(12px) rem-calc(28px)  rem-calc(12px);

    .name {
      font-size: rem-calc(21px);
      font-weight: bold;

      @include breakpoint(small only) {
        font-size: rem-calc(18px);
      }

    }
    .desk {
      font-size: rem-calc(12px);
      line-height: rem-calc(24px);
      margin-bottom: 0;

      > a {
        color: #4a4a4a;
        font-weight: 300;
      }
    }
  }
  .lecturer-video::before {
    color: #fff;
    font-size: rem-calc(36px);
  }
  .abs-container-icon {
    position: absolute;
    right: 8px;
    bottom: 0;
    height: rem-calc(38px);
  }
}
