@font-face {
    font-family: 'hackconf';
    src:    url('../fonts/hackconf.eot?7z80ty');
    src:    url('../fonts/hackconf.eot?7z80ty#iefix') format('embedded-opentype'),
        url('../fonts/hackconf.ttf?7z80ty') format('truetype'),
        url('../fonts/hackconf.woff?7z80ty') format('woff'),
        url('../fonts/hackconf.svg?7z80ty#hackconf') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'hackconf' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-pixelarrow:before {
    content: "\e900";
}
.icon-clock:before {
    content: "\f017";
}
.icon-map:before {
    content: "\f041";
}
.icon-envelope:before {
    content: "\f0e0";
}
.icon-youtube:before {
    content: "\e901";
}
.icon-fb:before {
    content: "\e902";
}
.icon-github:before {
    content: "\e903";
}
.icon-twitter:before {
    content: "\e904";
}
.icon-pdf:before {
    content: "\e905";
}
.icon-fb-event:before {
    content: "\e906";
}
.icon-live-streamming:before {
    content: "\e907";
}
.icon-attendies:before {
    content: "\e908";
}



