<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="small-6 large-5 small-order-1 medium-order-1 large-order-1 columns">
        <p class="text-center"><small>Organized by</small>
          <img src="images/HackBulgaria_logo.svg" class="logo-footer hb" alt="HackBulgaria logo">
        </p>
      </div>
      <div class="small-6 large-2 small-order-3 medium-order-3 large-order-2 columns middle-logo-container">
        <p class="text-center">
          <small>hosted by</small><br>
          <img src="images/host.bg_logo.png" alt="">
        </p>
      </div>
      <div class="small-6 large-5 small-order-2 medium-order-2 large-order-3 columns">
        <p class="text-center"><small>Powered by</small>
          <img src="images/HackSoft_logo.svg" class="logo-footer hs" alt="HackSoft logo">
        </p>
      </div>
    </div>
  </div>
</footer>
